/*
 *      This file is a part of GCweb (unoffical web render for GCstar)
 *      Copyright (c) 2007 Jonas Fourquier <http://jonas.tuxfamily.org> and contributors
 *
 *      GCweb is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */


body {
    font-size: 7pt;
}

/*** Apparence des boites type ***/
div.box {
    margin : 5px;
    padding : 5px;
    background : #FFF;
}

/*** caché le titre su site ***/
div#title {
    display: none;
}

/*** le menu ***/

div#menu {
    float: none;
    width: 100%;
}

#menu #infoCollec p {
    margin: .3em 0;
}

/* on chache le reste */
#menu div#navigation, #menu div#classer, #menu div#menusearch, #menu div#info, div#rss {
    display: none;
}

ul#menuAffExport {
    display: none;
}

/*** Caché le zappe collection ***/
#title fieldset {
    display: none;
}

/*** Decalage du contenu pour laisser la place au menu ***/
div#list, div#mosaique, div#onlydesc, div#item, div#cloud, div#search, div#export, div#exportcode {
    margin-left: 0;
}

#list span.starNote {
    background : none;
}


#mosaique span.legend {
    display: none
}