/*
 *      This file is a part of GCweb (unoffical web render for GCstar)
 *      Copyright (c) 2007 Jonas Fourquier <http://jonas.tuxfamily.org> and contributors
 *
 *      GCweb is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */


/*** Feuille de style spécial IE car ne respectant pas le standars ***/

/* Position des petites boites items. Chez M$ 50% + 50% > 100% on met donc 49% à la place */
#list div.element {
    width:49%;
}

/* Decalage du contenu pour laisser la place au menu. */
div#list, div#mosaique, div#onlydesc, div#item, div#cloud, div#search, div#export, div#exportcode {
    margin-left: 19em;      /*Comme chez m$ 18 - 18 > 0, on met en peut plus sur le 1er 18*/
    border: solid 1px #FFF; /*la c'est pire ! c'est le type de bordure que debug l'affichage sous IE6 ...*/
}

span.info {
    padding-left: 0em;
    float:left;
}

 #list div.scroll { /*div contenant le texte a coté de l'image */
    margin-top:-5px;
    height: 110px;
}

#menuAffExport .niv1 ul {
    position : absolute;
    z-index: 99;
}

