/*
 *      This file is a part of GCweb (unoffical web render for GCstar)
 *      Copyright (c) 2007 Jonas Fourquier <http://jonas.tuxfamily.org> and contributors
 *
 *      GCweb is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */


/*** Fond ***/
html {
    background: #E5E5E5;
}

/*** Zone de GCweb ***/
body {
    margin : 1em 5%;
    padding : 15px;
    background : #FFF;
    border: solid 2px gray;
    -moz-border-radius : 50px;
    -khtml-border-radius : 50px;
    border-radius : 50px;
    font-size: 9pt;
    font-family: sans-serif;
}

/*** Atribut par defaut des balise ***/
h1, h2, h3, h4 {
    margin: 0;
}

ul {
    margin:0;
    padding: 0 0 0 .8em;
}

li {
    list-style-type:none;
    padding-left: .8em;
    background-image : url(img/puce.png);
    background-repeat: no-repeat;
    background-position :left .5em;
}

table, tr, td {
    border-color : gray;
    border-width: 0px;
    border-style : dotted;
    border-collapse : collapse;
    vertical-align : top;
}

th {
    text-align: left;
}

pre {
    overflow:auto;
}

a {
    text-decoration: none
}
a:hover {
    text-decoration: underline
}

fieldset {
    right:10px; bottom:10px;
    border: 1px solid gray;
    -moz-border-radius : 10px;
    -khtml-border-radius : 10px;
    border-radius : 10px;
}
legend {
    margin-left:.3em;
    color: gray;
}

input, select {
    border: solid 1px #1E90FF;
}
textarea {
    height: 20em;
    width: 100%;
}

img {
    border: none
}

img.image, .image img {
    padding : 10px;
    background-color: #FFF;
    margin : 5px;
    -moz-border-radius : 20px;
    -khtml-border-radius : 20px;
    border-radius : 20px;
    border: 2px solid gray;
}
img.image:hover, .image img:hover {
    padding : 12px;
    background-color: #FFF0B5;
    margin : 3px;
    -moz-border-radius : 22px;
    -khtml-border-radius : 22px;
    border-radius : 22px;
}

/*** Apparence des boites type ***/
div.box {
    margin : 10px;
    padding : 15px;
    background : #ADD8E6;
    border: solid 2px #1E90FF;
    -moz-border-radius : 24px;
    -khtml-border-radius : 24px;
    border-radius : 24px;
}

/*** bandeau titre ***/
div#title {
    position:relative
}
#title h1, #title p {
    padding : 0 30em 0 0;
    margin: 0;
}
#title fieldset#collec-selector {
    position:absolute;
    margin: 1.5em;
}
#collec-selector div {
    display:inline;
}

/*** recherche rapide ***/
#menusearch input, #menusearch select {
    width: 100%;
}



/*** Contenu des page (partie centrale) ***/
div#content {
    position: relative;
}

div.nav{ /*div barre de navigation des item ou des pages */
    width: 100%;
    float: left;
    text-align: center;
    /*clear: both;*/
}
.nav p { /*paragraphe dans ces barres*/
    margin : 0 auto;
    float:center;
}

ul#menuAffExport {
    margin: 0 -.5em 0 0;
    padding: 0;
    float:right;
    /*position:absolute;
    right:3em;*/
}

#mosaique ul#menuAffExport {
    float:none;
    text-align:right;
    margin-bottom: 1em;
}

#menuAffExport a:visited {
    color: blue;
}

#menuAffExport li.niv1 {
    display:inline;
    background: none;
    padding: 0 .5em;
    position:relative;
}

#menuAffExport .niv1 ul {
    position:absolute;
    display : block;
    visibility: hidden;
    top: 0 ;left: 0;
    padding: .5em;
    text-align:left;
    margin-top: 1.5em;
    padding-left:2em;
    background : #ADD8E6;
    border: solid 2px #1E90FF;
    -moz-border-radius : 10px;
    -khtml-border-radius : 10px;
    border-radius : 10px;
    z-index:10;
}

#menuAffExport .niv1 ul#affichage {
    width: 12em;
}
#menuAffExport .niv1 ul#exportation {
    width: 9em;
}
div.element { /*div contenant l'élément principale de la page (liste item, item ...)*/
    float: left;
    width: 100%;
}
/*** menu ***/

div#menu {
    float: left;
    width: 18em;
}

#menu #search input, #menu #search select{
    width: 100%;
}

.activeSort {
    text-decoration : underline;
}

#menu ul.rss {
    padding:0;
}

#menu .rss li {
    background-image: url(img/rss.png);
    background-position: top left;
    background-repeat:no-repeat;
    list-style: None;
    padding-left: 16px;
}

/*** Decalage du contenu pour laisser la place au menu ***/
div#list, div#mosaique, div#onlydesc, div#item, div#cloud, div#search, div#export, div#exportcode {
    margin-left: 18em;
}

/*** message chargement ***/
#chargement {
    text-align: center;
    position: fixed;
    left: 50%; top: 50%;
    margin: -10em;
    width: 20em;
    z-index: 999;
    border-color: #FF0000;
    background-color: #FFC0CB;
}


/*** Page d'acceuil ***/

#main div#infocollec {
    position:relative;
}

#main div.collecdesc {
    float:left;
    width : 30em;
    margin-right: 1em;
}

#main .colleclastadd div.img {
    overflow:hidden;
    height : 200px;
}

#main .colleclastadd .img div.element {
    float:left;
    width:auto;
    margin-bottom : 200px;
}

#main div#collecfoot {
    clear: both;
}

#main a.rss {
    padding-left: 15px;
    background-image: url(img/rss.png);
    background-position: top left;
    background-repeat:no-repeat;
}

/*** page de listage ***/

div#list {
    position:none;
}

#list div.element { /* Position des petites boite items */
    width:50%;          /*  permet de modifier le nombre de collonne.
                            100%=1, 50%=2, 33.33%=3, 25%=4*/
}

#list .element div.box {    /* Position dans ces boites */
    height:155px;
    position:relative;
}
#list img.image {
    margin-right:20px;
}
#list img.image:hover {
    margin-right:18px;
}
#list div.scroll { /*div contenant le texte a coté de l'image */
    position :relative;
    overflow:hidden; /*auto si on veut un acensseur*/
    height: 154px;
}

#list h3 {
    margin-top:0;
}

#list span.starNote {
    text-align : right;
    height : 18px;
    position: absolute;
    right: 0;
    bottom : 0;
    width: 100%;
    background-image : url(img/endScroll.png);
    background-repeat: repeat-x;
    background-position :left bottom;
}

#list .lent div.box { /*élément emprunté*/
    background-image: url(img/lent_eng.png);
    background-position:100% 0 ;
    background-repeat: no-repeat;
}

#list .lent_fr div.box { /*élément emprunté*/
    background-image: url(img/lent_fr.png);
}

.star_full, .star_half, .star_empty {
    background-repeat: no-repeat;
    padding:8px;
}
.star_full  { background-image : url(img/star_full.png);  }
.star_half  { background-image : url(img/star_half.png);  }
.star_empty { background-image : url(img/star_empty.png); }

#list .starNote img {
    opacity: .8;
    margin-top : 2px;
}

span.label {
    min-width : 6em;
    float: left;
}

span.info {
    padding-left: 6em;
    display:block;
 }

span.info-item, table.info {
    margin-left: 8em;
    display:block;
 }

h3.aka {
    margin-left: 10em;
    font-style: italic;
 }

/*** PAGE ITEM ***/

#item div.navitem {
    text-align: center;
}

#item .element .box span.image {
    float:right;
    position: relative;
}

#item .element .box .image img {
    margin:15px;
}
#item .element .box .image img:hover {
    margin:13px;
}

#item .element .box .image .backpic {
    position: absolute;
    bottom : 26px; right: 26px;
    font-size: 200%;
    background-color:#FFF; opacity: .8;
}

#item .element h2 {
    text-align: justify;
    margin : 0 0 .6em 0;
}

#item .element p.description {
    text-align: justify;
    margin : 0 0 1em 0;
}

#item .element span.starNote {
    float: right;
}

#item .lent .box span#lent {
    float:right;
    margin: 0 0 10px 10px;
    height:61px; width: 62px;
    background-image: url(img/lent_eng.png);
    background-repeat: no-repeat;
}

#item .lent_fr .box span#lent {
    height:61px; width: 62px;
    background-image: url(img/lent_fr.png);
}

#item h3 {
    margin-top: 2em;
}

.foot {
    clear: both;
}

/*lien imdb, 3 variante*/
a#imdb_link {
    /*texte entourner de jaune*/
        /*font-size: 90%;
        font-weight: bold;
        letter-spacing:-.1em;
        color:black;
        background-color: #EFDC3D;
        padding: 2px 4px;
        -moz-border-radius : 5px;
        -khtml-border-radius : 5px;
        border-radius : 5px;
    /*image*/
        position:absolute;
        height:16px;
        width:33px;
        background-image: url(img/imdb.gif);
        background-repeat:  no-repeat;
        background-position: center center;
        text-indent:-999em;
        margin-left: .2em;
        border-width: 0;
    /*texte simple, commentez le tout*/
}
a#imdb_link:hover {
    opacity: .8; /*eclaircie le lien au passage sur celui-ci (utile pour l'image)*/
}


/*** PAGE CODE EXPORT ***/
#exportcode textarea {
    font-size: 60%;
    height: 100em;
}


/*** Page de recherche ***/
#search input, #search select{
    width: 10em;
}

#search div.searchgroup {
    clear: both;
}

#search .searchgroup fieldset {
    width : 24em;
    float: left;
    margin: .5em;
}

#search select.multiple {
    vertical-align : top;
    height: 10em;
    margin : 0;
}

#search p {
    margin : 0;
}

div.infocache {
    border: solid 1px #FFA500;
}


#list img.image {
    float:left;
}

/*** mosaique ***/
#mosaique .box div.element {
    border:black solid 1px;
    width: auto;
    padding:0;
    margin-right: -1px;
    margin-bottom: -1px;
    float:left;
    overflow: hidden;
    text-align: center;
}

/* permet d'afficher le reste de l'image lors du survol *//*
#mosaique .box div.element:hover {
    overflow: visible;
}
*/

#mosaique img {
    padding:0;
    margin:0;
    border:0;
}

#mosaique span.image {
    display:block;
    background-color:#FFF;
    width:auto;
}

#mosaique .lent span.image {
    opacity: .3;
}

/*fond derière l'image si pas asser large */
#mosaique .image a {
    display:block;
    background-color:#000;
}

#mosaique .image a:hover {
    opacity: .8;
}

div.legend {
    text-align: left;
    position:absolute;
    visibility: hidden;
    background : #ADD8E6;
    padding: .5em;
    border: solid 2px #1E90FF;
    -moz-border-radius : 15px;
    -khtml-border-radius : 15px;
    border-radius : 15px;
    opacity: .9;
    z-index:5;
}

/*** Liste description ***/


#onlydesc table {
    border-collapse: collapse;
    width: 100%;
    margin:1em 0 0 0;
    background-color: #FFF;
    border: 1px solid black;
    position:relative;
}

#onlydesc th, #onlydesc td {
    border: gray 1px solid;
    padding: .5em;
    vertical-align: center;
}

#onlydesc .title th, #onlydesc .title td {
    border : black 1px solid;
    background-color: #EEE;
}

#onlydesc .line_paire th, #onlydesc .line_impaire th  {
    text-align: left;
}

#onlydesc .line_paire {
    background-color: #EEE;
}

#onlydesc span.image {
    float:left;
    position:relative;
    margin-top: -2em;
    right: 1em;
    visibility:hidden;
}
#onlydesc img {
    position: absolute;
    top:-1.5em; right:0;
    z-index: 5;
}
#onlydesc span.aka {
    display:block;
    font-weight:normal;
    margin-left: 2em;
    font-style: italic;
}

#onlydesc .lent .title:after, #mosaique .lent .legend h3:after {
    content:"(lent)";
    color: black;
    font-weight:normal;
    margin-left: 1em;
}

#onlydesc .lent_fr .title:after, #mosaique .lent_fr .legend h3:after {
    content:"(prêté)";
}


/*** Apparence nuage ***/
.cloud1 {color: #99F; font-size:80% }
.cloud2 {color: #88F; font-size:90% }
.cloud3 {color: #77F; font-size:100%}
.cloud4 {color: #66F; font-size:110%}
.cloud5 {color: #55F; font-size:120%}
.cloud6 {color: #44F; font-size:130%}
.cloud7 {color: #33F; font-size:140%}
.cloud8 {color: #22F; font-size:150%}
.cloud9 {color: #11F; font-size:160%}
.cloud10{color: #00F; font-size:170%}

.cloudTitle {font-size:120%; display:block;}

/*** bandeau de pied de page ***/
div#foot {
    padding-top : 1px;
    clear: both;
    position:relative;
}
#foot p {
    margin: .5em 0;
}
#foot div.left {
    margin-right : 100px;
}
#foot div.right {
    position : absolute;
    right: 25px;
    bottom: 15px;
}

/*** message d'erreur ***/
div#error {
    border-color : red;
    background-color: #FFA6A6;
    position:absolute;
    width: 40%;
    left: 30%;
    top: 1Oem;
    z-index: 10;
    opacity: .9;
}
